In [1]:
import pandas as pd

In [2]:
train = pd.DataFrame({'id':[1,2,4],'features':[["A","B","C"],["A","D","E"],["C","D","F"]]})

In [3]:
train['features_t'] = train["features"].apply(lambda x: " ".join(["_".join(i.split(" ")) for i in x]))

In [4]:
train

    features  id features_t
0  [A, B, C]   1      A B C
1  [A, D, E]   2      A D E
2  [C, D, F]   4      C D F

In [15]:
train["features"].apply(lambda x: x)

0    [A, B, C]
1    [A, D, E]
2    [C, D, F]
Name: features, dtype: object

In [20]:
train["features"].apply(lambda x: [print(i) for i in x])

A
B
C
A
D
E
C
D
F

0    [None, None, None]
1    [None, None, None]
2    [None, None, None]
Name: features, dtype: object

In [18]:
train["features"].apply(lambda x: [print(i.split(" ")) for i in x])

['A']
['B']
['C']
['A']
['D']
['E']
['C']
['D']
['F']

0    [None, None, None]
1    [None, None, None]
2    [None, None, None]
Name: features, dtype: object

In [24]:
train["features"].apply(lambda x: [print("_".join(i.split(" "))) for i in x])

A
B
C
A
D
E
C
D
F

0    [None, None, None]
1    [None, None, None]
2    [None, None, None]
Name: features, dtype: object

In [26]:
train["features"].apply(lambda x: " ".join([i for i in x]))

0    A B C
1    A D E
2    C D F
Name: features, dtype: object

In [6]:
a  =["A","B","C"]

In [10]:
pd.crosstab

['A', 'B', 'C']

In [15]:
["_".join(i.split(" ")) for i in a]

['A', 'B', 'C']